*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #ECE5C7;
}

/* estilos header */

header{
    top: 0;
    position: sticky;
    z-index: 10;
    background: #354259;
}

.container-flex{
    width: 100%;
    padding: 10px;
    display: flex;
}

.title{
    display: inline;
    margin: 10px 20px;
}

.img-logo{
    width: 100px;
    margin-left:30px;
    display: inline;
}

.flex-1{
    width: 45%;
    padding-right: 100px;
    font-size: 21px;
    font-family: "Segoe UI";
    text-align: end;
    display: flex;
    align-items: center;
}

.flex-2{
    width: 55%;
    padding-left: 80px;
}

.ul{
    width: 100%;
    margin: 24px  0 0 0;
}

.li{
    width: 150px;
    margin:0 10px ;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
}

.li:hover{
    background:#CDC2AE ;
}

.li a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Segoe UI";
    color: #000;
}


/* estilos main*/

.container-welcome{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.lista-img{
    width: 100%;
    margin: 0;
    padding: 0;
}

.img-welcome{
    width: 100%;
    height: 100%;
    filter: contrast(50%) brightness(70%);
}

.welcome{
    position: absolute;
    font-size: 150px;
    font-family: "Segoe UI";
    color: #ECE5C7;
}

.container-info{
    margin: 10% 0;
}

.info-dentlab{
    width: 60%;
    margin: auto;
    text-align: center;
}

.title-info{
    text-align: left;
    font-size: 40px;
    font-family: "Segoe UI";

}

.description-info{
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-family: "Segoe UI";
}


/* estilos footer*/

footer{
    background:#CDC2AE;
    padding: 10px;
}

.container-footer{
    width: 100%;
    margin: 40px 0;
}

.flex-footer{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
}

.flex-1-footer{
    width: 40%;
    font-size: 25px;
    font-family: "Segoe UI";
}

.flex-2-footer{
    width: 40%;
    font-size: 15px;
    font-family: "Segoe UI";
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.flex-3-footer{
    width: 40%;
    font-size: 15px;
    font-family: "Segoe UI";
}

.flex-3-footer i{
    margin: 10px;
    display: inline-block;
    font-size: 30px;
}

.icon-menu{
    display: none;
}

.lista-menu{
    display: none;
}

.container-cancel{
    display: none;
}

/*Version para tabletas*/

@media screen and (max-width: 1200px){

    .icon-menu{
        margin: 35px 20px;
        font-size: 30px;
        display: block;
        cursor: pointer;
    }

    .img-logo{
        margin: 0;
    }

    .ul{
        display: none;
    }

    .welcome{
        font-size: 90px;
    }

    .desenfoque{
        filter: blur(2px);
    }

    /*Estilos del menu hamburguesa version tableta*/

    .menu{
        width: 50%;
        max-width: 50%;
        height: 450px;
        max-height: 450px;
        margin: 10px 0 10px 49%;
        border-radius: 10px;
        display: block;
        position: absolute;
        transition: all .5s ease-out;
        background: #354259;
    }   

    .lista-menu{
        width: 100%;
        margin: 0;
        padding: 20px;
        display: block;
        text-align: center;
        list-style: none;
    }

    .item-menu{
        width: 100%;
        margin: 20px 0 0 0;
        padding: 20px;
        font-size: 20px;
        font-family: "Segoe UI";
    }

    .item-menu:hover{
        background: #555;
    }

    .link-menu{
        text-decoration: none;
        color: #fff;
    }

    .remove{
        display: none;
    }

    .cancel{
        display: block;
        margin: 20px 20px;
        font-size: 30px;
        cursor: pointer;
    }

    .container-cancel{
        display: block;
    }

    /*Estilos icono*/

    .img-logo{
        width: 60px;
        margin: 0 0 0 30px;
    }

    .flex-footer{
        width: 100%;
    }
}



/*Version para moviles*/

@media screen and (max-width: 600px){

    header{
        padding: 5px 0;
    }

    .icon-menu{
        margin: 15px 0 0 0;
        font-size: 25px;
        display: block;
        cursor: pointer;
    }

    .ul{
        display: none;
    }

    .title{
        margin: 0 0 0 5px;
        font-size: 30px;
    }

    .img-logo{
        width: 60px;
        margin: 0 10px 0 0;
    }

    .welcome{
        font-size: 60px;
    }

    .desenfoque{
        filter: blur(2px);
    }

/*Estilos del menu hamburguesa version mobile*/

    .menu{
        width: 95%;
        max-width: 95%;
        height: 500px;
        max-height: 500px;
        margin: 10px 10px 0 10px;
        display: block;
        position: absolute;
        border-radius: 10px;
        transition: all .5s ease-out;
        background: #354259;
    }

    .lista-menu{
        width: 100%;
        margin: 0;
        padding: 15px;
        display: block;
        text-align: center;
        list-style: none;
    }

    .item-menu{
        width: 100%;
        margin: 40px 0 0 0;
        padding: 20px;
        font-size: 20px;
        font-family: "Segoe UI";
    }

    .item-menu:hover{
        background: #555;
    }

    .link-menu{
        text-decoration: none;
        color: #fff;
    }

    .remove{
        display: none;
    }
    
    .container-cancel{
        margin: 0;
        display: block;
    }

    .cancel{
        display: block;
        margin: 20px 0 0 20px;
        font-size: 30px;
        cursor: pointer;
    }

    .info-dentlab{
        width: 80%;
    }

    .flex-footer{
        width: 50%;
        flex-wrap: wrap;
    }

    .flex-1-footer{
        width: 100%;
        margin: auto;
    }

    .flex-2-footer{
        width: 100%;
        padding: 15px 0;
        margin: auto;
        border: 0;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
    }

    .flex-3-footer{
        width: 100%;
        margin: auto;
    }

}

/*version extra*/

@media screen and (max-width: 320px){
    .title{
        font-size: 23px;
    }

    .img-logo{
        width: 55px;
        margin: 0 7px 0 0;
    }

    .info-dentlab{
        width: 90%;
    }

    .welcome{
        font-size: 50px;
    }

    .flex-footer{
        width: 70%;
    }

    .menu{
        margin: 8px;
    }
}