*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #ECE5C7;
}

/* estilos header */

header{
    top: 0;
    position: sticky;
    z-index: 10;
    background: #354259;
}

.container-flex{
    width: 100%;
    padding: 10px;
    display: flex;
}

.title{
    display: inline;
    margin: 10px 20px;
}

.img-logo{
    width: 100px;
    margin-left:30px;
    display: inline;
}

.flex-1{
    width: 45%;
    padding-right: 100px;
    font-size: 21px;
    font-family: "Segoe UI";
    text-align: end;
    display: flex;
    align-items: center;
}

.flex-2{
    width: 55%;
    padding-left: 80px;
}

.ul{
    width: 100%;
    margin: 24px  0 0 0;
}

.li{
    width: 150px;
    margin:0 10px ;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
}

.li:hover{
    background:#CDC2AE ;
}

.li a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Segoe UI";
    color: #000;
}

/* estilos main*/

.container-mision-vision{
    width: 100%;
}

.mision , .Vision{
    width: 60%;
    margin: 50px auto;
    padding: 15px;
    box-shadow: 8px 8px 20px #555;
    border-radius: 20px;
    text-align: center;
    border: 2px solid black;
}

.title-mision-vision{
    font-size: 25px;
    margin: 0;
    font-family: "Segoe UI";
}

.description-mision-vision{
    text-align: left;
    font-size: 17px;
    font-family: "Segoe UI";
}


/* estilos footer*/

footer{
    background:#CDC2AE;
    padding: 10px;
}

.container-footer{
    width: 100%;
    margin: 40px 0;
}

.flex-footer{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
}

.flex-1-footer{
    width: 40%;
    font-size: 25px;
    font-family: "Segoe UI";
}

.flex-2-footer{
    width: 40%;
    font-size: 15px;
    font-family: "Segoe UI";
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.flex-3-footer{
    width: 40%;
    font-size: 15px;
    font-family: "Segoe UI";
}

.flex-3-footer i{
    margin: 10px;
    display: inline-block;
    font-size: 30px;
}

.icon-menu{
    display: none;
}

.lista-menu{
    display: none;
}

.container-cancel{
    display: none;
}


@media screen and (max-width: 1200px){
    .icon-menu{
        margin: 35px 20px;
        font-size: 30px;
        display: block;
    }

    .img-logo{
        margin: 0;
    }

    .ul{
        display: none;
    }

    .welcome{
        font-size: 90px;
    }

    .desenfoque{
        filter: blur(2px);
    }

    /*Estilos del menu hamburguesa*/

    .menu{
        width: 55%;
        max-width: 55%;
        height: 60vh;
        margin: 10px 10px 0 44%;
        display: block;
        position: absolute;
        border-radius: 10px;
        transition: all .5s ease-out;
        background: #333;
    }

    .lista-menu{
        width: 100%;
        padding: 20px;
        display: block;
        text-align: center;
        list-style: none;
    }

    .item-menu{
        width: 100%;
        margin: 40px 0 0 0;
        padding: 20px;
        font-size: 20px;
        font-family: "Segoe UI";
    }

    .item-menu:hover{
        background: #555;
    }

    .link-menu{
        text-decoration: none;
        color: #fff;
    }

    .remove{
        display: none;
    }

    .cancel{
        display: block;
        margin: 20px 20px;
        font-size: 30px;
        cursor: pointer;
    }

    .container-cancel{
        display: block;
    }

    .img-logo{
        width: 60px;
        margin: 0 0 0 30px;
    }

    .flex-footer{
        width: 100%;
    }

    .mision{
        margin: 13% auto 0 auto;
    }

    .Vision{
        margin: 5% auto 15% auto;
    }

}


@media screen and (max-width: 600px){
    .icon-menu{
        margin: 15px 0 0 0;
        font-size: 25px;
        display: block;
    }

    .ul{
        display: none;
    }

    .img-logo{
        margin: 0;
    }

    .title{
        font-size: 30px;
    }

    .mision{
        width: 80%;
    }

    .Vision{
        width: 80%;
    }
    
    /*Estilos del menu hamburguesa*/

    .menu{
        width: 95%;
        max-width: 95%;
        height: 80vh;
        margin: 10px 10px 0 10px;
        display: block;
        border-radius: 10px;
        transition: all .5s ease-out;
        background: #333;
    }

    .lista-menu{
        width: 100%;
        padding: 20px;
        display: block;
        text-align: center;
        list-style: none;
    }

    .item-menu{
        width: 100%;
        margin: 40px 0 0 0;
        padding: 20px;
        font-size: 20px;
        font-family: "Segoe UI";
    }

    .item-menu:hover{
        background: #555;
    }

    .link-menu{
        text-decoration: none;
        color: #fff;
    }

    .remove{
        display: none;
    }

    .cancel{
        display: block;
        margin: 20px 20px;
        font-size: 30px;
        cursor: pointer;
    }

    .flex-footer{
        width: 50%;
        flex-wrap: wrap;
    }

    .flex-1-footer{
        width: 100%;
        margin: auto;
    }

    .flex-2-footer{
        width: 100%;
        padding: 15px 0;
        margin: auto;
        border: 0;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
    }

    .flex-3-footer{
        width: 100%;
        margin: auto;
    }

    footer{
        position: relative;
        width: 100%;
    }
}
