<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../image/Logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/61fdd7a8e5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/catalogo.css">
    <title>Catalogo</title>
</head>
<body>
    <header>
        <div class="container-flex">
            <div class="flex-1">
                <div>
                    <img class="img-logo" src="../image/Logo.png" alt="logo">
                </div>
                <div>
                    <h1 class="title">Noble'sDentLab</h1>
                </div>
            </div>
            <div class="flex-2">
                <ul class="ul">
                    <li class="li"><a href="../index.html">Inicio</a></li>
                    <li class="li"><a href="#">Catalogo</a></li>
                    <li class="li"><a href="./Mision-Vision.html">Sobre nosotros</a></li>
                </ul>
            </div>
            <div class="icon-menu">
                <i id="menu_mobile" class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>
    <main>
        <div class="container-catalogo">
            <h2>Catalogo de servicios</h2>
            <div class="container-flex-servicios">
                <div class="card">
                    <section>
                        <div class="card-img">
                        <img src="../image/diseño_sonrisa.webp" alt="">
                        </div>
                        <div class="card-info">
                            <p class="title-card">Diseño de sonrisa</p>
                            <p class="description-card">Sabemos la importancia de una sonrisa y por eso entendemos que el diseño de esta debe ser acorde a lo que quieres acompañado por un buen ortodoncista. La sonrisa es para la mayoría de las personas la mejor carta de presentación que puede existir y si tienes un buen dibujo de sonrisa puedes sobresalir.</p>
                            <a class="link-card" href="">Mas informacion</a>
                        </div>
                    </section>
                </div>

                <div class="card">
                    <section>
                        <div class="card-img">
                        <img src="../image/blanquiamento.webp" alt="">
                        </div>
                        <div class="card-info">
                            <p class="title-card">Blanquiamiento dental</p>
                            <p class="description-card">El blanqueamiento dental es un procedimiento de odontología estética que busca un aclaramiento mediante la eliminación de manchas dentales. Para poder blanquearlos, existen diferentes tipos de tratamientos que nos devolverán el buen color a nuestra sonrisa.</p>
                            <a  class="link-card" href="">Mas informacion</a>
                        </div>
                    </section>
                </div>

                <div class="card">
                    <section>
                        <div class="card-img">
                        <img src="../image/limpieza.webp" alt="">
                        </div>
                        <div class="card-info">
                            <p class="title-card">Limpieza dental</p>
                            <p class="description-card">La limpieza dental más conocida como profilaxis tiene diferentes funciones como proteger el esmalte y eliminar lo acumulado en los dientes y debajo de las encías, a lo que le llamamos placa dental. Mejora el aspecto de tu sonrisa con una correcta higiene bucal, indispensable para mantener una boca sana y bonita.</p>
                        <a class="link-card" href="">Mas informacion</a>
                        </div>
                    </section>
                </div>

                <div class="card">
                    <section>
                        <div class="card-img">
                        <img src="../image/tratamiento-caries-dental.webp" alt="">
                        </div>
                        <div class="card-info">
                            <p class="title-card">Tratamiento de caries</p>
                            <p class="description-card">La caries dental es la afección bucal de mayor incidencia y prevalencia en el mundo, puede producirse por bacterias, azúcares, entre otros. El tratamiento de caries nos ayudará a hacer una limpieza dental que mejore tu salud bucal.</p>
                            <a class="link-card" href="">Mas informacion</a>
                        </div>
                    </section>
                </div>

                <div class="card">
                    <section>
                        <div class="card-img">
                        <img src="../image/ortodoncia.webp" alt="">
                        </div>
                        <div class="card-info">
                            <p class="title-card">Ortodoncia</p>
                            <p class="description-card">La ortodoncia corrige los defectos de la posición dental para mantener una boca perfecta y sana. En las clínicas dentales Noble´sdentLab, somos especialistas en ortodoncia y realizamos diferentes tipos de tratamientos para adaptarnos a tus necesidades.</p>
                            <a class="link-card" href="">Mas informacion</a>
                        </div>
                    </section>
                </div>

                <div class="card">
                    <section>
                        <div class="card-img">
                            <img src="../image/protesis-dental.webp" alt="">
                        </div>
                        <div class="card-info">
                            <p class="title-card">Protesis dental</p>
                            <p class="description-card">En Noble´sdentLab te garantizamos que podrás recuperar la comodidad, la sonrisa, y por supuesto el hecho de sentirte seguro y a gusto contigo mismo.</p>
                            <a class="link-card" href="">Mas informacion</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-footer">
            <div class="flex-footer">
                <div class="flex-1-footer">
                    <p>Noble´sdentLab</p>
                </div>
                <div class="flex-2-footer">
                    <p>Contacto</p>
                    <p>noblesdentlab@gmail.com</p>
                </div>
                <div class="flex-3-footer">
                    <p>Redes</p>
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="../JS/Funciones.js"></script>
</html>