<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../image/Logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/61fdd7a8e5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/Mision-vision.css">
    <title>Mision | Vision</title>
</head>
<body>
    <header>
        <div class="container-flex">
            <div class="flex-1">
                <div>
                    <img class="img-logo" src="../image/Logo.png" alt="logo">
                </div>
                <div>
                    <h1 class="title">Noble'sDentLab</h1>
                </div>
            </div>
            <div class="flex-2">
                <ul class="ul">
                    <li class="li"><a href="../index.html">Inicio</a></li>
                    <li class="li"><a href="./Catalogo.html">Catalogo</a></li>
                    <li class="li"><a href="#">Sobre nosotros</a></li>
                </ul>
            </div>
            <div class="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>
    <main>
        <div class="container-mision-vision">
            <section>
                <div class="mision">
                    <p class="title-mision-vision">Mision</p>
                    <p class="description-mision-vision">Somos un laboratorio dental conformado por gran equipo humano, comprometido con la constante innovación y capacitación de nuetros profesionales, con el propósito de trabajar arduamente por el mejoramiento continuo de nuestra empresa y por cumplir con los más altos estándares de calidad, adaptación, funcionalidad, tecnología y estética de nuestros productos, que contribuyan a la satisfacción de nuestros clientes, logrando así ser lideres en nuestra región y en Colombia.</p>
                </div>

                <div class="Vision">
                    <p class="title-mision-vision">Vision</p>
                    <p class="description-mision-vision">Ser reconocidos en el año 2025 como una empresa líder en la prestación de servicios de laboratorio de dental de nuestra región y de Colombia, cumpliendo con estándares internacionales para la elaboración de nuestros productos, adoptando nuevas técnicas y herramientas de última tecnología, lo que sumado a nuestra experiencia contribuya con la satisfacción de las necesidades de nuestros clientes, generando índices de calidad que nos permitan lograr las exigencias del mercado.</p>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="container-footer">
            <div class="flex-footer">
                <div class="flex-1-footer">
                    <p>Noble´sdentLab</p>
                </div>
                <div class="flex-2-footer">
                    <p>Contacto</p>
                    <p>noblesdentlab@gmail.com</p>
                </div>
                <div class="flex-3-footer">
                    <p>Redes</p>
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="../JS/Funciones_botones.js"></script>
</html>